wxpython==4.0.3
six
configobj
markdown
future
requests
oauthlib
requests-oauthlib
requests-toolbelt
pypubsub
pygeocoder
arrow==0.14.5
python-dateutil
futures
winpaths
PySocks
win_inet_pton
yandex.translate
idna
chardet
urllib3
youtube-dl
python-vlc
pypiwin32
certifi
backports.functools_lru_cache
pyinstaller
git+https://github.com/manuelcortez/twython
git+https://github.com/manuelcortez/libloader
git+https://github.com/manuelcortez/platform_utils
git+https://github.com/manuelcortez/accessible_output2
git+https://github.com/jmdaweb/sound_lib