[info]
name = Chicken Nugget
desc = Remaps TWBlue shortcuts to their  equivalents in Christopher Toth's Chicken Nugget Twitter client.
author = Bill Dengler <codeofdusk@gmail.com>

[keymap]
up = control+win+up
down = control+win+down
left = control+win+left
right = control+win+right
open_conversation = control+win+c
show_hide = control+win+w
post_tweet = control+win+t
post_reply = control+win+r
post_retweet = control+win+shift+t
send_dm = control+win+d
user_details = control+win+shift+u
exit = control+win+q
open_timeline = control+win+u
remove_buffer = control+win+backspace
audio = control+win+return
secondary_interact = control+win+b
go_home = control+win+home
go_end = control+win+end
delete = control+win+delete
clear_buffer = control+win+shift+delete
repeat_item = control+win+space
copy_to_clipboard = control+win+shift+c
search = control+win+/
find = control+win+shift+/
