[info]
name = Default
desc = TWBlue's default keymap.
author = Bill Dengler <codeofdusk@gmail.com>

[keymap]
up = control+win+up
down = control+win+down
left = control+win+left
right = control+win+right
next_account = control+win+shift+right
previous_account = control+win+shift+left
open_conversation = control+win+c
show_hide = control+win+m
post_tweet = control+win+n
post_reply = control+win+r
post_retweet = control+win+shift+r
send_dm = control+win+d
add_to_favourites = alt+win+f
remove_from_favourites = alt+shift+win+f
follow = control+win+s
user_details = control+win+alt+n
view_item = control+win+v
exit = control+win+f4
open_timeline = control+win+i
remove_buffer = control+win+shift+i
interact = control+alt+win+return
url = control+win+return
volume_up = control+win+alt+up
volume_down = control+win+alt+down
go_home = control+win+home
go_end = control+win+end
go_page_up = control+win+pageup
go_page_down = control+win+pagedown
update_profile = alt+win+p
delete = control+win+delete
clear_buffer = control+win+shift+delete
repeat_item = control+win+space
copy_to_clipboard = control+win+c
add_to_list = control+win+a
remove_from_list = control+win+shift+a
toggle_buffer_mute = control+win+shift+m
toggle_session_mute = alt+win+m
toggle_autoread = control+win+e
search = control+win+-
edit_keystrokes = control+win+k
view_user_lists = control+win+l
get_more_items = alt+win+pageup
reverse_geocode = control+win+g
view_reverse_geocode = control+win+shift+g
get_trending_topics = control+win+t
find = control+win+/
secondary_interact = control+win+alt+return
