[info]
name = Qwitter
desc = A keymap which emulates Qwitter as closely as possible.
author = Bill Dengler <codeofdusk@gmail.com>

[keymap]
up = control+win+up
down = control+win+down
left = control+win+left
right = control+win+right
next_account = control+win+shift+right
previous_account = control+win+shift+left
show_hide = control+win+w
post_tweet = control+win+n
post_reply = control+win+r
post_retweet = control+win+shift+r
send_dm = control+win+d
add_to_favourites = alt+win+f
remove_from_favourites = alt+shift+win+f
follow = control+win+l
user_details = control+win+shift+;
view_item = control+win+v
exit = control+win+f4
open_timeline = control+win+i
remove_buffer = "control+win+'"
interact = control+win+return
volume_up = control+win+alt+up
volume_down = control+win+alt+down
go_home = control+win+home
go_end = control+win+end
go_page_up = control+win+pageup
go_page_down = control+win+pagedown
update_profile = control+win+shift+p
delete = control+win+delete
clear_buffer = control+win+shift+delete
repeat_item = control+win+space
copy_to_clipboard = control+win+shift+c
add_to_list = control+win+alt+l
remove_from_list = control+win+alt+shift+l
toggle_buffer_mute = control+win+alt+m
toggle_session_mute = control+win+m
search = control+win+/
find = control+win+shift+/
edit_keystrokes = control+win+k
view_user_lists = win+alt+shift+l
reverse_geocode = control+win+g
view_reverse_geocode = control+win+shift+g
get_trending_topics = control+win+shift+t
