[info]
name = Windows 10 (experimental)
desc = A keymap with remapped modifiers for Windows 10 compatibility.
author = Bill Dengler <codeofdusk@gmail.com>

[keymap]
up = alt+win+up
down = alt+win+down
left = alt+win+left
right = alt+win+right
next_account = alt+win+shift+right
previous_account = alt+win+shift+left
open_conversation = alt+win+c
show_hide = alt+win+w
post_tweet = alt+win+n
post_reply = alt+win+r
post_retweet = alt+win+shift+r
send_dm = alt+win+d
add_to_favourites = alt+win+f
remove_from_favourites = alt+shift+win+f
follow = alt+win+s
user_details = alt+win+shift+n
view_item = alt+win+v
exit = alt+win+f4
open_timeline = alt+win+i
remove_buffer = alt+win+shift+i
audio = alt+win+return
secondary_interact = alt+shift+win+return

volume_up = alt+win+shift+up
go_home = alt+win+home
volume_down = alt+win+shift+down
go_end = alt+win+end
go_page_up = alt+win+pageup
go_page_down = alt+win+pagedown
update_profile = alt+win+p
delete = alt+win+delete
clear_buffer = alt+win+shift+delete
repeat_item = alt+win+space
copy_to_clipboard = alt+win+shift+c
add_to_list = alt+win+a
remove_from_list = alt+win+shift+a
toggle_buffer_mute = alt+win+shift+m
toggle_session_mute = alt+win+m
toggle_autoread = alt+win+e
search = alt+win+-
edit_keystrokes = alt+win+k
view_user_lists = alt+win+l
get_more_items = alt+win+pageup
reverse_geocode = alt+win+g
view_reverse_geocode = alt+win+shift+g
get_trending_topics = alt+win+t
